extends layout

block content
    .container
        section#game-room
            #menu
                h1 Game Room
                #create-table
                    form()
                        input(type='submit', value='Create Table')
            section#chat-panel
                #chat
                    ol#messages.chat__lists
                form(id='messageForm')
                    input#message(type='text' placeholder="Message" autofocus autocomplete='off')
            section#tables
                #table-list

            section#rank-list
                #users.chat__lists
                //id="users" class="chat__lists"


        script(src='/js/gameroom.bundle.js')





