doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='author' content='Piotr Bieniek')
        link(rel='stylesheet', href='/css/style.css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,900,900i&subset=latin-ext', rel='stylesheet')
    body
        .container
            header
                #branding
                    h3 Gomoku and Renju
            nav
                if user
                    a(class="option" href='/') Dashboard

                    a(class="option" href='/gameroom') Game room

                    a(class="option" href='/profile') Profile

                    a(class="option" href='/statistics/?uid=' + user.username) Statistics

                    a(class="option" href='/users/logout') Logout #{user.username}

                    div(style='clear:both')
                else
                    a(class="option" href='/users/login') Login

                    a(class="option" href='/users/register')  Register

                    div(style='clear:both')


    block content
    #footer
        p © 2016 GomokuApp, Bienio MPK.



