extends layout

block content
    #login-container
        h2 Account Login
        form(method='post', action='/users/login')

            input(type='text', name='username', placeholder='Username')

            input(type='password', name='password', placeholder='Password')

            input(type='submit', value='Log In')
