extends layout

block content

    #register-container

        h2 Account Register
            if errors
                each error in errors
                 = error.msg
        form(method='post', action='/users/register')
            input(type='text', placeholder='Name', name='name')

            input(type='text', placeholder='Username', name='username')

            input(type='email', placeholder='Email', name='email')

            input(type='password', placeholder='Password', name='password')

            input(type='password', placeholder='Password again', name='password2')

            input(type='submit', value='Register')
