extends layout

block content
    #cont.container
        form(action='/statistics' method='get')
            input( id='get' type="text" name="uid")
            br
            input(type="submit" value="Submit")
            if data
                h1 #{data.username} test
                h1 #{data.email} test
            else
                h1 (none)