doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='author' content='Piotr Bieniek')
        link(rel='stylesheet', href='/css/style.css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,900,900i&subset=latin-ext', rel='stylesheet')
    body
        #game-container
            canvas#game-board(width="750" height="750")
            canvas#mid-canvas(width="750" height="750")
            canvas#canvas-0(width="750" height="750")
            canvas#top-canvas(width="750" height="750")
            #status

            #table-chatpanel
                #settings
                    p table #!{tableID}
                    button#closeTable.tab__button(type='button') x
                    button#minimizeTable.tab__button(type='button') -

                    hr
                #players
                    #player-one.player
                        .color-panel
                            #black-square.square
                            p #1
                        button#p1.seat-button player 1
                    #player-two.player
                        .color-panel
                            #white-square.square
                            p #2
                        button#p2.seat-button player 2
                    div(style='clear: both')
                    #timer1.timer
                        p 0:00
                    #timer2.timer
                        p 0:00
                    div(style='clear: both')
                    //
                hr

                button(type='button' id='butt') Start Game
                button Undo
                button Draw

                #gamePanel
                    button chat
                    button users
                    button settings
                #table-chat
                    form(id='messageFormTable')
                        input#tableMessage(type='text')
                #test
                    a(href='gameroom')
                        button Text

        script.
            window.tableID = !{tableID};
        script(src='/js/table.bundle.js')
