body {
    /* Background pattern from subtlepatterns.com */
    background-image: url("../images/hexellence.png");
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/************GLOBAL************/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.player {
    float: left;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.color-panel {
    background-color: #37b93d;
    width: 140px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
}

.square {

    width: 15px;
    height: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

#black-square {
    background-color: #000000;
}

#white-square {
    background-color: #ffffff;
}

.seat-button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
}

.timer {
    float: left;
    width: 150px;
    text-align: center;
}

.chat__lists {
    text-decoration: none;
    display: block;
    list-style-type: none;
    text-align: left;
    background: lightgray;
    padding: 5px;
}

.chat__lists ol {
    text-decoration: none;
}

.tab__button {
    width: 42px;
    height: 22px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
}

input[type=submit]:focus {
    -webkit-box-shadow: 3px 3px 15px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 15px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
}

input[type=submit]:hover {
    background: #37b93d;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 300px;
    background: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

input[type=submit] {
    width: 300px;
    background: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    -webkit-box-shadow: 3px 3px 30px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #a5cda5;
    background: #e9f3e9;
    color: #428c42;
}

.option {
    float: left;
    color: white;
    min-width: 50px;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    border-right: 2px dotted #444444;
    text-decoration: none;
}

.option:hover {
    background: #37b93d;
    cursor: pointer;
}

.option:focus {
    -webkit-box-shadow: 3px 3px 30px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
}

/********************HEADER**********/

header {

}

header #branding {
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 3px;
}

/************GAMEROOM STYLES*************/

/*menu*/

#menu {
    /*background-color: #5f5f5f;*/
    background-color: #F78A0C;
    color: white;

    padding: 10px;
    min-height: 30px;
}

#menu h1 {
    font-size: 25px;
}

#create-table input {
    width: 15%;
    padding: 10px;
}

/*chat*/

#chat-panel {
    float: left;
    width: 25%;
    min-height: 575px;
    background-color: #d3d3d3;
}

#chat {
    height: 520px;
    text-decoration: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    text-align: left;
}

/*tables*/

#tables {
    float: left;
    width: 50%;
    height: 575px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
}

#table-list {
    text-decoration: none;
    text-align: right;
}

a.wide {
    display: block;
    text-decoration: none;
    color: #5f5f5f;
}

#table {
    margin: 0 0 .2em 0;
    display: block;
    list-style-type: none;
    text-align: right;
    background: lightgray;
    padding: 20px;
}

/*inne*/

#tableMessage {
    width: 300px;
}

/*ranklist*/

#rank-list {
    float: left;
    width: 25%;
    min-height: 575px;
    background: lightgray;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
}

/*login*/

#login-container {
    background: white;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

/*register*/

#register-container {
    background: white;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

/*footer*/

#footer {
    clear: both;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

/*navigation*/
nav {
    background: #36b03c;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
}

/* table view */

#game-container {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#settings p {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#settings hr {
    clear: both;
}

#players {
    clear: both;
}

canvas {
    position: absolute;
    float: left;
}

#status {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    font-size: 30px;
}

#table-chatpanel {
    float: right;
    background-color: lightgray;
    width: 300px;
    height: 750px;
}

#successMessage {
    background: green;
    width: 400px;
    opacity: 0.8;
    border-radius: 5px;
    margin: auto;
}

#errorMessage {
    background: red;
    width: 400px;
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 20px;
}

#messageForm {
    height: 45px;
    width: 100%;
}

#message {
    height: 45px;
    width: 100%;
}








